/* Colors */

$c2lc-primary-button-color: #FFFFFF;

$c2lc-forward-command-color: #91BD58;
$c2lc-left-command-color: #E7DB6E;
$c2lc-right-command-color: #E1604B;

$c2lc-focus-indicator-color: #000000;

$c2lc-disabled-color: #777777;

/* Borders */

$c2lc-button-border-width: 2px;

/* Focus Indicator */

$c2lc-focus-indicator-width: 0.2rem;

/* Hover Indicator */

$c2lc-hover-indicator-width: 0.1rem;

/* Action Panel */

$c2lc-action-panel-width: 16rem;
$c2lc-action-panel-height: 5rem;

/* Scene Border Style */

$c2lc-scene-border-width: 0.1rem;
$c2lc-scene-border-color: #555;
$c2lc-scene-border-style: solid;

/* mixins */

@mixin getContainerThemeColor($theme) {
    @if $theme == forestTheme {
        background-color: #CCE6E2;
    } @else if $theme == spaceTheme {
        background-color: #AAD5CF;
    } @else {
        background-color: #F1F1F1;
    }
}

@mixin getAppContainerColor($theme) {
    @if $theme == forestTheme {
        background-color: #496D69;
    } @else if $theme == spaceTheme {
        background-color: #171C1C;
    } @else {
        background-color: #FFF;
    }
}

@mixin getSceneLabelColor($theme) {
    @if $theme == forestTheme {
        fill: #F1F2F4;
    } @else if $theme == spaceTheme {
        fill: #FFF;
    } @else {
        fill: #555;
    }
}
