.ActionsMenu__toggle-button {
    align-self: center;
    grid-column-end: 4;
    grid-column-start: 3;
    justify-self: center;
    width: 1em;
}

.ActionsMenu__toggle-button svg {
    height: 0.75rem;
}
