.ActionsMenu__header {
    position:relative;
    background-color: #cecccc;
    margin-right: 0;
    padding-bottom: 0.05rem;
    padding-top: 0.05rem;
    text-align:center;
}

.ActionsMenu__header-heading {
    font-size: inherit;
    font-weight: bold;
    padding-top: 0.1rem;
}

.ActionsMenu__menu {
    background-color: #ffffff;
    border-color: #cecccc;
    border-style: none solid solid solid;
    left: 8rem;
    overflow: visible;
    position: absolute;
    top: 1.5rem;
    width: 12rem;
}

.forest-theme .ActionsMenu__menu {
    background-color: #CCE6E2;
}

.space-theme .ActionsMenu__menu {
    background-color: #AAD5CF;
}