.ActionsMenu__header {
    background-color: #cecccc;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    position:relative;
}

.ActionsMenu__header-heading {
    font-size: inherit;
    font-weight: bold;
    grid-column-end: 3;
    grid-column-start: 2;
    margin: auto 0;
}

.ActionsMenu__menu {
    background-color: #ffffff;
    border-color: #cecccc;
    border-style: solid;
    border-width: 0.3rem;
    left: 8rem;
    overflow: visible;
    position: absolute;
    top: -0.3rem;
    width: 12rem;
}

.forest-theme .ActionsMenu__menu {
    background-color: #CCE6E2;
}

.space-theme .ActionsMenu__menu {
    background-color: #AAD5CF;
}