.ActionsMenuItem__button {
    width: 4rem;
    float: right;
    border: 0;
    background-color: inherit;
}

.ActionsMenuItem__button-label {
    margin-left: 0.5rem;
}

.ActionsMenuItem {
    border-top: 1px solid #cccccc;
    clear: both;
    margin: 0.5rem;
    white-space: nowrap;
}

.ActionsMenuItem:first-of-type {
    border-top: none;
}

.ActionsMenuItem__text {
    float: left;
}

.ActionsMenuItem__text--disabled {
    text-decoration: line-through;
    color: #cccccc;
}
