@import 'variables';

.ActionPanel__background {
    align-self: center;
    height: $c2lc-action-panel-height;
    position: absolute;
    top: -0.3rem;
    width: $c2lc-action-panel-width;
    z-index: 1;

    svg {
        width: $c2lc-action-panel-width;
        path {
            fill: #30444E;
            stroke: #4C9990;
        }
    }
}

.ActionPanel__panel {
    align-items: center;
    background-color: transparent;
    display: flex;
    height: $c2lc-action-panel-height;
    justify-content: space-evenly;
    padding-left: 2rem;
    padding-right: 2rem;
    position: absolute;
    width: $c2lc-action-panel-width;
    z-index: 2;
}

.ActionPanel__panel--hidden {
    display: none;
}

button.btn.ActionPanel__action-buttons {
    background-color: #4C9990;
    border: none;
    border-radius: 50%;    
    height: 2.1rem;
    padding: 0.5rem;
    width: 2.1rem;

    svg {
        height: 1rem;
        width: 1rem;
        path.stroked {
            stroke: #505862;
        }
        path.filled {
            fill: #505862;
        }
    }

    &:hover {
        background-color: #F1AE5B;
    }

    &:hover {
        svg {
            path.stroked {
                stroke: #F1F2F4;
            }
            path.filled {
                fill: #F1F2F4;
            }
        }
    }

    &:focus {
        box-shadow:
            0 0 0 0.1rem #30444E,
            0 0 0 $c2lc-focus-indicator-width white;
    }
}

button.btn.ActionPanel__action-buttons--disabled {
    svg {
        path.stroked {
            stroke: #B9BEC6;
        }
        path.filled {
            fill: #B9BEC6;
        }
    }
}

.ActionPanel__action-button-svg {
    position: relative;
    margin: auto;
    display: block;
}
