.ActionsMenu__header {
    background-color: #cecccc;
    margin-left: 0.15rem;
    margin-right: 0;
    padding-top: 0.25rem;
}

.ActionsMenu__header-heading {
    font-size: inherit;
    font-weight: bold;
    padding-top: 0.25rem;
}

.ActionsMenu__menu {
    border-color: #cecccc;
    border-style: none solid solid solid;
    margin-left: 0.15rem;
    padding: 1em;
}