@import 'variables';

$widthOfCollapsedIcon: 0.8rem;
$heightOfCollapsedIcon: 0.8rem;
$widthOfExpandedIcon: 1.7rem;
$heightOfExpandedIcon: 1.7rem;

$addNodeExpandedButtonBorderWidth: 1px;
$addNodeExpandedButtonPadding: 0.5rem;

$addNodeDropMargin: 1.5rem;
$addNodeDropAreaWidth: 6.25rem;

button.btn.AddNode__expanded-button {
    z-index: 1;
    border: $addNodeExpandedButtonBorderWidth solid #FFF;
    border-radius: 50%;
    background-color: #FFF;
    padding: $addNodeExpandedButtonPadding;
}

button.btn.AddNode__expanded-button:hover {
    box-shadow: 0 0 0 $c2lc-hover-indicator-width $c2lc-focus-indicator-color;
    background-color: #e5e5e5;
}

.AddNode--is-dragging-command .AddNode__expanded-button {
    pointer-events: none;
}

button.btn.AddNode__expanded-button svg {
    stroke: #000;
    width: $widthOfExpandedIcon;
    height: $heightOfExpandedIcon;
    display: block;
}

.AddNode__collapsed-icon {
    background-color: #939595;
    height: $heightOfCollapsedIcon;
    width: $widthOfCollapsedIcon;
    border: 0.1rem solid #8F8F8F;
    border-radius: 50%;
}

.AddNode__collapsed-icon svg {
    display: block;
    stroke: #FFF;
}

.AddNode__drop-area-container {
    position: absolute;
}

.AddNode--is-dragging-command .AddNode__expanded-drop-area {
    top: -$addNodeDropMargin;
    left: calc(
        #{-$addNodeDropAreaWidth / 2}
        + #{$widthOfExpandedIcon / 2}
        + #{$addNodeExpandedButtonBorderWidth}
        + #{$addNodeExpandedButtonPadding});
    position: relative;
    width: $addNodeDropAreaWidth;
    height: calc(
        #{2 * $addNodeDropMargin}
        + #{$heightOfExpandedIcon}
        + #{2 * $addNodeExpandedButtonBorderWidth}
        + #{2 * $addNodeExpandedButtonPadding});
}

.AddNode--is-dragging-command .AddNode__collapsed-drop-area {
    top: -$addNodeDropMargin;
    left: (-$addNodeDropAreaWidth / 2) + ($widthOfCollapsedIcon / 2);
    position: relative;
    width: $addNodeDropAreaWidth;
    height: (2 * $addNodeDropMargin) + $heightOfCollapsedIcon;
}
