@import 'variables';

.AddNodeToggleSwitch {
    width: 4.2rem;
    max-height: 2.4rem;
    background: #c4c4c4;
    border-radius: 1.2rem;
    padding: 0.2rem;
    display: inline-block;
}

.AddNodeToggleSwitch:focus {
    box-shadow: 0 0 0 $c2lc-focus-indicator-width $c2lc-focus-indicator-color;
    outline: none;
}

.AddNodeToggleSwitch--checked {
    background: #000;
}

.AddNodeToggleSwitch--checked > div {
    margin-left: 1.8rem;
}

.AddNodeToggleSwitch__switch-inner-circle {
    background: #F1F1F1;
    border-radius: 50%;
    padding: 0.2rem;
    display: inline-block;
}

.AddNodeToggleSwitch__switch-inner-circle svg {
    height: 1.6rem;
    width: 1.6rem;
    display: block;
    stroke: #000;
}
