@import 'variables';

$widthOfCollapsedIcon: 0.8rem;
$heightOfCollapsedIcon: 0.8rem;
$widthOfExpandedIcon: 1.7rem;
$heightOfExpandedIcon: 1.7rem;

$addNodeExpandedButtonBorderWidth: 1px;
$addNodeExpandedButtonPadding: 0.5rem;

$addNodeDropMargin: 2.5rem;
$addNodeDropAreaHeight: 6.25rem;

button.btn.AddNode__expanded-button {
    border: $addNodeExpandedButtonBorderWidth solid #FFF;
    border-radius: 50%;
    background-color: #FFF;
    padding: $addNodeExpandedButtonPadding;
}

button.btn.AddNode__expanded-button:hover {
    box-shadow: 0 0 0 $c2lc-hover-indicator-width $c2lc-focus-indicator-color;
    background-color: #e5e5e5;
}

button.btn.AddNode__expanded-button.AddNode__expanded-button--isDragTarget {
    box-shadow: 0 0 0 0.4rem #53A28C;
}

.AddNode--is-dragging-command .AddNode__expanded-button {
    pointer-events: none;
}

button.btn.AddNode__expanded-button svg {
    stroke: #000;
    width: $widthOfExpandedIcon;
    height: $heightOfExpandedIcon;
    display: block;
}

.AddNode__collapsed-icon {
    background-color: #939595;
    height: $heightOfCollapsedIcon;
    width: $widthOfCollapsedIcon;
    border: 0.1rem solid #8F8F8F;
    border-radius: 50%;
}

.AddNode__collapsed-icon svg {
    display: block;
    stroke: #FFF;
}
