.App__robot-connection-section {
    margin-top: 1.5rem;
    text-align: right;
}

.App__program-section {
    margin-top: 1.5rem;
}

.App__command-palette {
    height: 100%;
    padding: 1rem 0;
    background-color: #F1F1F1;
    text-align: center;
}

.App__command-palette-heading {
    font-weight: bold;
    margin-bottom: 2rem;
}

.App__command-palette-command {
    margin-top: 1rem;
}
