@import 'variables';

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

.App__header {
    display: flex;
    background: #000;
    color: #FFF;
    padding: 0.5rem 3rem;
}

.App__header-row {
    justify-content: space-between;
}

.App__header-right {
    display: flex;
    align-items: center;
}

.App__app-heading {
    font-weight: normal;
    font-size: 1.3rem;
    margin: 1rem 0;
}

/* Dash connection removed for version 0.5
.App__audio-toggle-switch {
    margin-right: 1.5rem;
}
*/

.App__bluetooth-api-warning-section {
    margin-top: 1.5rem;
}

.App__scene-container {
    margin-top: 4rem;
}

.App__scene-controls {
    height: 4rem;
    background-color: #F1F1F1;
    border-width: 0 $c2lc-scene-border-width $c2lc-scene-border-width $c2lc-scene-border-width;
    border-color: $c2lc-scene-border-color;
    border-style: $c2lc-scene-border-style;
    display: grid;
    grid-template-columns: 1fr;
}

.App__scene-controls-group {
    display: flex;
    align-items: center;
    justify-self: end;
    margin: auto 1rem auto 0;
}

.App__refreshButton-container {
    margin-left: 50px;
}

.App__program-section {
    margin-top: 1.5rem;
}

.App__command-palette {
    height: 100%;
    padding-top: 2rem;
    background-color: #F1F1F1;
    text-align: center;
}

.App__command-palette-heading {
    font-weight: bold;
    font-size: inherit;
    margin: 0 0 2rem 0;
}

.App__command-palette-commands {
    // width = #items * itemWidth + gapWidth * (#items - 1)
    width: 14rem;
    margin: 3rem auto 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 4rem);
    grid-gap: 1rem;
}

.App__playAndShare-container {
    height: 10rem;
    margin-top: 1rem;
    background-color: #F1F1F1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.App__playControl-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    grid-column-start: 2;
}

.App__playButton-container {
    margin-bottom: 1rem;
}

.App__shareButton-container {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    grid-column-start: 3;
    grid-column-end: 4;
    justify-content: center;
    padding-right: 2rem;
}

@media only screen and (max-width: 768px) {
    .App__playAndShare-container {
        grid-template-rows: 1fr 1fr;
    }
    .App__playControl-container {
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .App__shareButton-container {
        padding-right: 0;
        align-items: flex-start;
        flex-direction: row;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}
