@import 'variables';

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

.App__header {
    display: flex;
    background: #000;
    color: #FFF;
    padding: 0.5rem 3rem;
}

.App__header-row {
    justify-content: space-between;
}

.App__header-right {
    display: flex;
    align-items: center;
}

.App__app-heading {
    font-weight: normal;
    font-size: 1.3rem;
    margin: 1rem 0;
}

.App__audio-toggle-switch {
    margin-right: 1.5rem;
}

.App__bluetooth-api-warning-section {
    margin-top: 1.5rem;
}

.App__scene-area {
    margin-top: 1.5rem;
    border: 0.1rem solid #555;
}

.App__scene-controls {
    height: 4rem;
    background-color: #F1F1F1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.App__playButton-container {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
}

.App__program-section {
    margin-top: 1.5rem;
}

.App__command-palette {
    height: 100%;
    padding: 1rem 0;
    background-color: #F1F1F1;
    text-align: center;
}

.App__command-palette-heading {
    font-weight: bold;
    font-size: inherit;
    margin: 0 0 2rem 0;
}

.App__command-palette-command {
    margin-top: 1rem;
}
