@import 'variables';

body {
    overflow: hidden;
}

.App__header {
    display: flex;
    background: #000;
    color: #FFF;
    padding: 0.5rem 3rem;
}

.App__header-row {
    justify-content: space-between;
}

.App__app-heading {
    font-weight: normal;
    font-size: 1.3rem;
    margin: 1rem 0;
}

.App__main-container {
    height: calc(100vh - 3rem - 6vh);
    padding: 3vh 2vw;
    display: grid;
    grid-template-columns: 15rem auto;
    grid-template-rows: 3rem auto;
    column-gap: 2vw;
    row-gap: 3vh;
}

.App__bluetooth-api-warning-section {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.App__program-section {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.App__command-palette {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 1rem 0;
    background-color: #F1F1F1;
    text-align: center;
}

.App__command-palette-heading {
    font-weight: bold;
    font-size: inherit;
    margin: 0 0 2rem 0;
}

.App__command-palette-command {
    margin-top: 1rem;
}
