@import 'variables';

.App__heading-section {
    background: #000;
    color: #FFF;
}

.App__app-heading {
    font-weight: normal;
    font-size: 1.3rem;
    margin: 1rem 0;
}

.App__robot-connection-section {
    margin-top: 1.5rem;
}

.App__program-section {
    margin-top: 1.5rem;
}

.App__command-palette {
    height: 100%;
    padding: 1rem 0;
    background-color: #F1F1F1;
    text-align: center;
}

.App__command-palette-heading {
    font-weight: bold;
    font-size: inherit;
    margin: 0 0 2rem 0;
}

.App__command-palette-command {
    margin-top: 1rem;
}

.App__instructions-heading {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 2rem 0 1rem 0;
}

.App__instructions-section-heading {
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem 0 0.5rem 0;
}

.App__instructions-text {
    max-width: 32em;
}

.App__add-mode-image svg {
    width: 1em;
    height: 1em;
    stroke: #000;
    vertical-align: -0.1em;
}

.App__delete-mode-image svg {
    width: 1em;
    height: 1em;
    stroke: #000;
    vertical-align: -0.2em;
}
