.ConfrimDeleteAllModal {
    width: 35rem;
}

.ConfrimDeleteAllModal__content {
    padding: 3rem 4rem;
}

.ConfrimDeleteAllModal__header {
    font-weight: bold;
}

.ConfrimDeleteAllModal__warning-svg {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.ConfrimDeleteAllModal__body {
    margin-top: 1rem;
}

.ConfrimDeleteAllModal__footer {
    margin-top: 3rem;
    text-align: center;
}

.ConfrimDeleteAllModal__option-button {
    min-width: 11rem;
}
