@import 'variables';

.DeviceConnectControl {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: end;
    z-index: inherit;
}

button.btn-primary.DeviceConnectControl__button {
    background-color: #FFF;
    position: relative;
    z-index: 1;
    padding: 0.85rem 1.25rem;
}

button.btn.DeviceConnectControl__button:focus {
    box-shadow: 0 0 0 $c2lc-focus-indicator-width #299DCE;
}

button.btn.DeviceConnectControl__button:hover {
    box-shadow: 0 0 0 $c2lc-focus-indicator-width #299DCE;
    background-color: #299DCE;
}

.DeviceConnectControl__status-icon-container {
    position: relative;
    padding: 1rem 0.5rem;
}

.DeviceConnectControl__status-icon {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 3.5rem;
    height: 3.5rem;
}

.DeviceConnectControl__dash-icon {
    opacity: 0.5;
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    top: 0.1rem;
}

.DeviceConnectControl__dash-icon--connected {
    opacity: 1;
}

.DeviceConnectControl svg {
    stroke: #000;
}

.DeviceConnectControl.DeviceConnectControl--disabled svg {
    stroke: $c2lc-disabled-color;
}

.DeviceConnectControl.DeviceConnectControl--disabled button {
    background-color: $c2lc-disabled-color;
    cursor: default;
}
