@import 'variables';

.DeviceConnectControl {
    z-index: inherit;
}

button.btn-primary.DeviceConnectControl__button {
    background-color: #FFF;
    position: relative;
    z-index: 1;
    padding: 0.85rem 1.25rem;
}

.DeviceConnectControl__status-icon-container {
    position: relative;
    padding: 1rem 0.5rem;
}

.DeviceConnectControl__status-icon {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 3.5rem;
    height: 3.5rem;
}

.DeviceConnectControl svg {
    stroke: #000;
}

.DeviceConnectControl.DeviceConnectControl--disabled svg {
    stroke: $c2lc-disabled-color;
}
