body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button.btn {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button.command-block {
    width: 7rem;
    height: 4.5rem;
    border-radius: 0.75rem;
}

button.command-block--pressed,
button.command-block--pressed:hover {
    border: 2px dashed #000000;
}

button.btn-command-block--none {
    border: 1px solid #C4C4C4;
}

.command-block-svg {
    width: 3rem;
    height: 3rem;
}
