html {
    font-size: 18px;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

button.btn {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.6rem;
}

button.btn-primary,
button.btn-primary:hover {
    border: 2px solid #000000;
    font-weight: bold;
    padding: 1.15rem 1.25rem;
}

button.btn:focus {
    box-shadow: 0 0 0 0.2rem #000;
}

button.command-block {
    width: 6.25rem;
    height: 4rem;
}

button.command-block--pressed,
button.command-block--pressed:hover {
    border: 2px dashed #000000;
}

button.btn-command-block--none {
    border: 1px solid #C4C4C4;
}

.command-block-svg {
    width: 2.75rem;
    height: 2.75rem;
}
