@import 'variables';

.PenDownToggleSwitch {
    margin-bottom: 1rem;
    background-color: #B9BEC6;
    .ToggleSwitch__switch-inner-circle {
        background-color: white;
        svg {
            path {
                stroke: black;
            }
        }
    }
    &.ToggleSwitch--checked {
        background-color: #4C9990;
    }
    &:focus {
        box-shadow: 0 0 0 $c2lc-focus-indicator-width $c2lc-focus-indicator-color;
    }
}