@import 'variables';

@keyframes pausedAnimation {
    0% {box-shadow: 0 0 0 0.7rem #53A28C;}
    50% {box-shadow: 0 0 0 0.4rem #53A28C;}
    100% {box-shadow: 0 0 0 0.7rem #53A28C;}
}

.ProgramBlockEditor__container {
    background-color: #F1F1F1;
    display: grid;
    height: 100%;
    grid-template-columns: 6rem auto;
    grid-template-rows: min-content auto;
}

.ProgramBlockEditor__header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: auto auto;
}

.ProgramBlockEditor__heading {
    margin: auto 0;
    font-weight: bold;
    font-size: inherit;
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 1rem;
}

.ProgramBlockEditor__options {
    display: flex;
    align-items: center;
    justify-self: end;
    grid-column-start: 2;
    grid-column-end: 3;
    margin: auto 1rem auto 0;
}

.ProgramBlockEditor__add-node-toggle-switch {
    float: left;
}

.ProgramBlockEditor__add-node-toggle-switch:focus {
    box-shadow: 0 0 0 $c2lc-focus-indicator-width #299DCE;
}

.ProgramBlockEditor__add-node-toggle-switch.ToggleSwitch--checked {
    background: #000;
}

button.btn.ProgramBlockEditor__program-deleteAll-button {
    vertical-align: top;
    margin-left: 50px;
    border: 1px solid #FFF;
    border-radius: 50%;
    background-color: #FFF;
    padding: 0.5rem;
}

button.btn.ProgramBlockEditor__program-deleteAll-button:not(:focus) {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

button.btn.ProgramBlockEditor__program-deleteAll-button--pressed {
    background-color: #000;
}

button.btn.ProgramBlockEditor__program-deleteAll-button.ProgramBlockEditor__program-deleteAll-button--disabled {
    background-color: $c2lc-primary-button-color;
    cursor: default;
}

button.btn.ProgramBlockEditor__program-deleteAll-button.ProgramBlockEditor__program-deleteAll-button--disabled:active:focus {
    background-color: $c2lc-primary-button-color;
    box-shadow: 0 0 0 $c2lc-focus-indicator-width $c2lc-focus-indicator-color;
}

button.btn.ProgramBlockEditor__program-deleteAll-button--pressed.ProgramBlockEditor__program-deleteAll-button--disabled,
button.btn.ProgramBlockEditor__program-deleteAll-button--pressed.ProgramBlockEditor__program-deleteAll-button--disabled:active:focus {
    background-color: $c2lc-disabled-color;
}

.ProgramBlockEditor__program-deleteAll-button svg {
    stroke: #000;
}

button.btn.ProgramBlockEditor__program-deleteAll-button--disabled svg {
    stroke: $c2lc-disabled-color;
}

button.btn.ProgramBlockEditor__program-deleteAll-button:hover {
    box-shadow: 0 0 0 $c2lc-hover-indicator-width $c2lc-focus-indicator-color;
    background-color: #e5e5e5;
}

button.btn.ProgramBlockEditor__program-deleteAll-button--pressed svg,
button.btn.ProgramBlockEditor__program-deleteAll-button--pressed.ProgramBlockEditor__program-deleteAll-button--disabled svg {
    stroke: #FFF;
}

.ProgramBlockEditor__program-deleteAll-button-svg {
    width: 1.4rem;
    height: 1.4rem;
    display: block;
}

.ProgramBlockEditor__character-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 2;
    background: #FFF;
    border-width: 0.1rem 0 0.1rem 0.1rem;
    border-color: #8F8F8F;
    border-style: solid;
    pointer-events: none;
}

.ProgramBlockEditor__character-column-character-container {
    border-radius: 50%;
    padding: 0.5rem;
    background-color: #FFF;
    box-shadow: 0 0 0 rgba(70, 70, 70, 0.4);
}

.ProgramBlockEditor__character-column-character {
    width: 2.5rem;
    height: 2.5rem;
}

.ProgramBlockEditor__program-sequence-scroll-container {
    display: flex;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    border: 0.1rem solid #8F8F8F;
    background: #FFF;
    overflow: scroll;
    padding-left: 2rem;
    padding-top: 2rem;
}

.ProgramBlockEditor__program-sequence {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}

.ProgramBlockEditor__start-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #000;
    color: #fff;
    width: 2.5rem;
    height: 2.5rem;
    min-width: 45px;
    min-height: 45px;
    border-radius: 0.2rem;
}

.ProgramBlockEditor__program-block-connector {
    background-color: #939595;
    min-width: 0.8rem;
    height: 0.1rem;
}

button.ProgramBlockEditor__program-block--active {
    box-shadow: 0 0 0 0.7rem #53A28C;
}

button.ProgramBlockEditor__program-block--paused {
    animation-timing-function: ease;
    animation: pausedAnimation 2s infinite;
}

.ProgramBlockEditor__action-panel-container-outer {
    position: relative;
    left: 50%;
}

// TODO: Calculate vertical offset using the size of the arrow,
//       rather than adding 30%

// Note: An alternative to using left and top with actual lengths, would
//       be to use CSS translation with percentages, as those percentages
//       are relative to the object being translated. For example:
//
//       transform: translate(-50%, -130%);
//
//       However, when using the above translation, Firefox (version
//       78 on Linux at least) does not align box-shadows properly (as
//       we are using for hover and focus indication). This bug
//       describes the situation but is closed:
//
//       https://bugzilla.mozilla.org/show_bug.cgi?id=766564

.ProgramBlockEditor__action-panel-container-inner {
    position: absolute;
    left: #{-$c2lc-action-panel-width / 2};
    top: #{-$c2lc-action-panel-height * 1.4};
}

.ProgramBlockEditor__program-sequence-scroll-container--isDragging {
    box-shadow: 0 0 0 0.4rem #53A28C;
}
