@import 'variables';

.ProgramBlockEditor__container {
    background: #F1F1F1;
    display: grid;
    height: 100%;
    grid-template-rows: 4rem auto 4rem;
}

.ProgramBlockEditor__header {
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: auto auto;
}

.ProgramBlockEditor__heading {
    margin-top: 1.5rem;
    font-weight: bold;
    font-size: inherit;
    grid-column-start: 1;
    grid-column-end: 2;
    padding-left: 1rem;
}

.ProgramBlockEditor__options {
    justify-self: end;
    grid-column-start: 2;
    grid-column-end: 3;
    padding-right: 1rem;
    padding-top: 1rem;
}

.ProgramBlockEditor__addNode {
    float: left;
}

.ProgramBlockEditor__addNode--checked {
    background: #000;
}

button.btn.ProgramBlockEditor__program-deleteAll-button {
    margin-left: 50px;
    border: 1px solid #FFF;
    border-radius: 50%;
    background-color: #FFF;
    padding: 0.5rem;
}

button.btn.ProgramBlockEditor__program-deleteAll-button:not(:focus) {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

button.btn.ProgramBlockEditor__program-deleteAll-button--pressed {
    background-color: #000;
}

button.btn.ProgramBlockEditor__program-deleteAll-button--disabled {
    background-color: $c2lc-primary-button-color;
    cursor: default;
}

button.btn.ProgramBlockEditor__program-deleteAll-button.ProgramBlockEditor__program-deleteAll-button--disabled:active:focus {
    background-color: $c2lc-primary-button-color;
    box-shadow: 0 0 0 $c2lc-focus-indicator-width $c2lc-focus-indicator-color;
}

button.btn.ProgramBlockEditor__program-deleteAll-button--pressed.ProgramBlockEditor__program-deleteAll-button--disabled,
button.btn.ProgramBlockEditor__program-deleteAll-button--pressed.ProgramBlockEditor__program-deleteAll-button--disabled:active:focus {
    background-color: $c2lc-disabled-color;
}

.ProgramBlockEditor__program-deleteAll-button svg {
    stroke: #000;
}

button.btn.ProgramBlockEditor__program-deleteAll-button--disabled svg {
    stroke: $c2lc-disabled-color;
}

button.btn.ProgramBlockEditor__program-deleteAll-button--pressed svg,
button.btn.ProgramBlockEditor__program-deleteAll-button--pressed.ProgramBlockEditor__program-deleteAll-button--disabled svg {
    stroke: #FFF;
}

.ProgramBlockEditor__program-deleteAll-button-svg {
    width: 1.4rem;
    height: 1.4rem;
    display: block;
}

.ProgramBlockEditor__program-sequence-scroll-container {
    grid-row-start: 2;
    grid-row-end: 3;
    border: 0.1rem solid #8F8F8F;
    background: #FFF;
    overflow: scroll;
    padding-left: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.ProgramBlockEditor__program-sequence {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.ProgramBlockEditor__start-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #000;
    color: #fff;
    min-width: 4rem;
    min-height: 4rem;
    border-radius: 50%;
}

.ProgramBlockEditor__program-block-connector {
    background-color: #939595;
    min-width: 0.5rem;
    height: 0.1rem;
}

button.ProgramBlockEditor__program-block--active {
    box-shadow: 0 0 0 0.2rem #79F1CD;
}

.ProgramBlockEditor__footer {
    grid-row-start: 3;
    grid-row-end: 4;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1.6rem auto 1.6rem;
}

.ProgramBlockEditor__run {
    grid-column-start: 2;
    grid-column-end: 3;
}

button.btn.ProgramBlockEditor__run-button {
    margin-top: 0.5rem;
    padding: 0.6rem 0.45rem 0.6rem 0.75rem;
    border: 1px solid #FFF;
    border-radius: 50%;
    background-color: #FFF;
}

button.btn.ProgramBlockEditor__run-button:not(:focus) {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

button.btn.ProgramBlockEditor__run-button svg {
    fill: #000;
}

button.btn.ProgramBlockEditor__run-button--disabled {
    background-color: $c2lc-primary-button-color;
    cursor: default;
}

button.btn.ProgramBlockEditor__run-button--disabled svg {
    fill: $c2lc-disabled-color;
}

button.btn.ProgramBlockEditor__run-button.ProgramBlockEditor__run-button--disabled:active:focus {
    background-color: $c2lc-primary-button-color;
    box-shadow: 0 0 0 $c2lc-focus-indicator-width $c2lc-focus-indicator-color;
}

button.btn.ProgramBlockEditor__run-button--pressed {
    background-color: #000;
}

button.btn.ProgramBlockEditor__run-button.ProgramBlockEditor__run-button--pressed.ProgramBlockEditor__run-button--disabled,
button.btn.ProgramBlockEditor__run-button.ProgramBlockEditor__run-button--pressed.ProgramBlockEditor__run-button--disabled:active:focus {
    background-color: $c2lc-disabled-color;
}

button.btn.ProgramBlockEditor__run-button--pressed svg,
button.btn.ProgramBlockEditor__run-button--pressed.ProgramBlockEditor__run-button--disabled svg {
    fill: #FFF;
}

button.btn.ProgramBlockEditor__run-button.ProgramBlockEditor__run-button--disabled:active:focus {
    background-color: $c2lc-primary-button-color;
    box-shadow: 0 0 0 $c2lc-focus-indicator-width $c2lc-focus-indicator-color;
}

.ProgramBlockEditor__play-svg {
    width: 1.7rem;
    height: 1.7rem;
    display: block;
}
