@import 'variables';

.ProgramBlockEditor__container {
    padding-top: 1rem;
    background: #F1F1F1;
}

.ProgramBlockEditor__header {
    min-height: 3rem;
}

.ProgramBlockEditor__heading {
    text-align: center;
    font-weight: bold;
    font-size: inherit;
    margin: 0;
}

.ProgramBlockEditor__editor-actions {
    position: absolute;
    right: 0;
    top: 0;
}

button.btn.ProgramBlockEditor__editor-action-button {
    margin-top: 0.5rem;
    margin-right: 1.3rem;
    border: 1px solid #FFF;
    border-radius: 50%;
    background-color: #FFF;
    padding: 0.5rem;
}

button.btn.ProgramBlockEditor__editor-action-button:not(:focus) {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

button.btn.ProgramBlockEditor__editor-action-button--pressed {
    background-color: #000;
}

button.btn.ProgramBlockEditor__editor-action-button--disabled {
    background-color: $c2lc-primary-button-color;
    cursor: default;
}

button.btn.ProgramBlockEditor__editor-action-button.ProgramBlockEditor__editor-action-button--disabled:active:focus {
    background-color: $c2lc-primary-button-color;
    box-shadow: 0 0 0 $c2lc-focus-indicator-width $c2lc-focus-indicator-color;
}

button.btn.ProgramBlockEditor__editor-action-button--pressed.ProgramBlockEditor__editor-action-button--disabled,
button.btn.ProgramBlockEditor__editor-action-button--pressed.ProgramBlockEditor__editor-action-button--disabled:active:focus {
    background-color: $c2lc-disabled-color;
}

.ProgramBlockEditor__editor-action-button svg {
    stroke: #000;
}

button.btn.ProgramBlockEditor__editor-action-button--disabled svg {
    stroke: $c2lc-disabled-color;
}

button.btn.ProgramBlockEditor__editor-action-button--pressed svg,
button.btn.ProgramBlockEditor__editor-action-button--pressed.ProgramBlockEditor__editor-action-button--disabled svg {
    stroke: #FFF;
}

.ProgramBlockEditor__editor-action-button-svg {
    width: 1.7rem;
    height: 1.7rem;
    display: block;
}

.ProgramBlockEditor__delete-all-button-container {
    position: relative;
}

button.ProgramBlockEditor__delete-all-button {
    z-index: 1;
    color: #FFF;
    background-color: #E2452B;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    max-width: 5em;
    margin-right: 0.5rem;
    padding: 0 0.5rem;
    position: absolute;
    right: 0;
}

button.ProgramBlockEditor__delete-all-button:hover {
    color: #FFF;
    background-color: #000;
    margin-right: 0.5rem;
    padding: 0 0.5rem;
}

.ProgramBlockEditor__program-sequence-scroll-container {
    border: 0.1rem solid #8F8F8F;
    background: #FFF;
    padding: 0;
    overflow-x: scroll;
}

.ProgramBlockEditor__program-sequence {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 14rem;
    padding-left: 1.4rem;
    float: left;
}

.ProgramBlockEditor__start-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right:1.4rem;
    background-color: #000;
    color: #fff;
    min-width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

button.ProgramBlockEditor__program-block {
    margin-right: 1.4rem;
}

button.ProgramBlockEditor__program-block--active {
    box-shadow: 0 0 0 0.2rem #79F1CD;
}

.ProgramBlockEditor__footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

button.btn.ProgramBlockEditor__run-button {
    padding: 0.6rem 0.45rem 0.6rem 0.75rem;
    border: 1px solid #FFF;
    border-radius: 50%;
    background-color: #FFF;
}

button.btn.ProgramBlockEditor__run-button:not(:focus) {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

button.btn.ProgramBlockEditor__run-button svg {
    fill: #000;
}

button.btn.ProgramBlockEditor__run-button--disabled {
    background-color: $c2lc-primary-button-color;
    cursor: default;
}

button.btn.ProgramBlockEditor__run-button--disabled svg {
    fill: $c2lc-disabled-color;
}

button.btn.ProgramBlockEditor__run-button.ProgramBlockEditor__run-button--disabled:active:focus {
    background-color: $c2lc-primary-button-color;
    box-shadow: 0 0 0 $c2lc-focus-indicator-width $c2lc-focus-indicator-color;
}

button.btn.ProgramBlockEditor__run-button--pressed {
    background-color: #000;
}

button.btn.ProgramBlockEditor__run-button.ProgramBlockEditor__run-button--pressed.ProgramBlockEditor__run-button--disabled,
button.btn.ProgramBlockEditor__run-button.ProgramBlockEditor__run-button--pressed.ProgramBlockEditor__run-button--disabled:active:focus {
    background-color: $c2lc-disabled-color;
}

button.btn.ProgramBlockEditor__run-button--pressed svg,
button.btn.ProgramBlockEditor__run-button--pressed.ProgramBlockEditor__run-button--disabled svg {
    fill: #FFF;
}

button.btn.ProgramBlockEditor__run-button.ProgramBlockEditor__run-button--disabled:active:focus {
    background-color: $c2lc-primary-button-color;
    box-shadow: 0 0 0 $c2lc-focus-indicator-width $c2lc-focus-indicator-color;
}

.ProgramBlockEditor__play-svg {
    width: 1.6rem;
    height: 1.6rem;
    display: block;
}
