.ProgramSpeedController__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ProgramSpeedController__slider {
    width: 8rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}
