@import 'variables';

.ProgramSpeedController__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ProgramSpeedController__slider {
    width: 8rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.form-control-range:focus,
.form-control-range:focus::-webkit-slider-runnable-track{
    outline: $c2lc-focus-indicator-color auto;
}
