@import 'variables';

.RefreshButton-svg {
    width: 1.4rem;
    height: 1.4rem;
}

button.btn.RefreshButton svg path {
    stroke: none;
}

button.btn.RefreshButton {
    background-color: #4C9990;
    border: 0;
    border-radius: 50%;
    margin-bottom: 1rem;
    padding: 0.5rem;

    svg path {
        fill: black;
    }
}

button.btn.RefreshButton.RefreshButton--disabled:active:focus {
    background-color: $c2lc-primary-button-color;
    box-shadow: 0 0 0 $c2lc-focus-indicator-width $c2lc-focus-indicator-color;
}

button.btn.RefreshButton.RefreshButton--disabled,
button.btn.RefreshButton.RefreshButton--disabled:active:focus {
    background-color: #FFF;
    cursor: default;
}

button.btn.RefreshButton--disabled svg {
    stroke: $c2lc-disabled-color;
}

button.btn.RefreshButton:hover {
    background-color: #F1AE5B;
}

button.btn.RefreshButton:hover:not(:focus) {
    box-shadow: none;
}
