@import 'variables';

// Grid for Scene-container is set in App.scss
.Scene-container {
    grid-row-start: 1;
    grid-row-end: 2;
    overflow: scroll;
}

.Scene {
    background-color: #FFF;
    display: inline-block;
    box-sizing: border-box;
    width: 1430px;
}

.Scene__grid-line {
    stroke: #DDD;
    stroke-width: 0.01;
}

.Scene__grid-label {
    fill: #555;
    font: bold 0.01em sans-serif;
}

.Scene__path-line {
    stroke: #222;
    stroke-width: 0.03;
    stroke-linecap: round;
}
