@import '_variables';

button.btn.ShareButton {
    width: 10rem;
    border: 0;
    padding: 0.2rem;
}

button.btn.ShareButton:focus {
    box-shadow: 0 0 0 $c2lc-focus-indicator-width $c2lc-focus-indicator-color;
    border: 1px solid white;
}
