@import 'variables';

.StopButton-svg {
    width: 1.7rem;
    height: 1.7rem;
}

button.btn.StopButton {
    padding: 0;
    width: 2.2rem;
    height: 2.2rem;
    margin-top: 1.8rem;
    border-radius: 50%;
    background-color: transparent;
    svg circle {
        fill: black
    }
}

button.btn.StopButton:focus {
    border: $c2lc-focus-indicator-width solid $c2lc-focus-indicator-color;
    box-shadow: none;
}

button.btn.StopButton:not(:focus) {
    border: none;
    padding: $c2lc-focus-indicator-width;
}

button.btn.StopButton:hover {
    svg path {
        fill: #F1AE5B;
    }
}

button.btn.StopButton.StopButton--disabled {
    cursor: default;
}

button.btn.StopButton--disabled svg {
    fill: $c2lc-disabled-color;
}

button.btn.StopButton.StopButton--disabled:active:focus {
    background-color: $c2lc-primary-button-color;
    box-shadow: 0 0 0 $c2lc-focus-indicator-width $c2lc-focus-indicator-color;
}
