@import 'variables';

.StopButton-svg {
    width: 1.7rem;
    height: 1.7rem;
}

button.btn.StopButton {
    padding: 0;
    width: 2rem;
    height: 2rem;
    margin-top: 1.8rem;
    border: 1px solid #FFF;
    border-radius: 50%;
    background-color: #FFF;
}

button.btn.StopButton:not(:focus) {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

button.btn.StopButton:hover {
    box-shadow: 0 0 0 $c2lc-hover-indicator-width $c2lc-focus-indicator-color;
    background-color: #e5e5e5;
}

button.btn.StopButton.StopButton--disabled {
    background-color: $c2lc-primary-button-color;
    cursor: default;
}

button.btn.StopButton--disabled svg {
    fill: $c2lc-disabled-color;
}

button.btn.StopButton.StopButton--disabled:active:focus {
    background-color: $c2lc-primary-button-color;
    box-shadow: 0 0 0 $c2lc-focus-indicator-width $c2lc-focus-indicator-color;
}
