@import 'variables';

/* Colours used across themes */

// TODO: Come up with a rational way of organising and reusing these.
$c2lc-very-very-very-dark-green-color: #18252C;
$c2lc-very-very-dark-green-color: #22343C;
$c2lc-very-dark-green-color: #30444E;
$c2lc-dark-green-color: #4C9990;
$c2lc-medium-green-color: #CCE6E2;
$c2lc-light-green-color: #EBFAF8;
$c2lc-light-grey-color: #F1F2F4;
$c2lc-medium-grey-color: #D5D8DD;
$c2lc-slightly-dark-grey-color: #C4C4C4;
$c2lc-slightly-darker-grey-color: #9DA4AF;
$c2lc-dark-grey-color: #818A98;
$c2lc-very-dark-grey-color: #67717E;
$c2lc-very-very-dark-gray-color: #505862;
$c2lc-vivid-orange-color: #F97953;
$c2lc-very-very-very-dark-blue-color: #33717F;


/* "Mixed" (Default) Theme */
body.mixed-theme {
    background-color: #FFF;

    .App__container {
        background-color: #FFF;
    }
    
    .App__header {
        background-color: #FFF;
        color: #000;
    }
    
    .App__command-palette {
        background-color: $c2lc-very-dark-green-color;
    }

    .App__command-palette-heading {
        color: #F1AE5B;
    }

    .App__command-palette-command-container {
        &::-webkit-scrollbar {
            background-color: $c2lc-very-dark-green-color;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $c2lc-medium-green-color;
        }
    }

    .Character__icon-background {
        fill: $c2lc-dark-green-color;
    }

    .ProgramBlockEditor__container {
        border: 2px solid $c2lc-medium-green-color;
        background-color: $c2lc-medium-green-color;
    }

    .ProgramBlockEditor__header {
        background-color: $c2lc-medium-green-color;
    }

    .ProgramBlockEditor__character-column {
        background-color: $c2lc-very-dark-green-color;
    }
   
    .ProgramBlockEditor__program-sequence-scroll-container {
        background-color: $c2lc-very-very-dark-green-color;
    }
    
    .App__playAndShare-background {
        background-color: $c2lc-medium-grey-color;
    }
}

/* Light Theme */
body.light-theme {
    background-color: #FFF;

    .App__container {
        background-color: #FFF;
    }
    
    .App__header {
        background-color: #FFF;
        color: #000;
    }
    
    .App__command-palette {
        background-color: $c2lc-light-green-color;
    }

    button.btn.command-block:focus {
        box-shadow:
            0 0 0 0.1rem white,
            0 0 0 $c2lc-focus-indicator-width black;
    }

    // Use both IDs and classnames here to overpower styles inherited from react-bootstrap's $theme-colors
    #command-block--forward1,
    .btn-command-block--forward1,
    #command-block--forward2,
    .btn-command-block--forward2,
    #command-block--forward3,
    .btn-command-block--forward3,
    #command-block--left45,
    .btn-command-block--left45,
    #command-block--left90,
    .btn-command-block--left90,
    #command-block--left180,
    .btn-command-block--left180,
    #command-block--right45,
    .btn-command-block--right45,
    #command-block--right90,
    .btn-command-block--right90,
    #command-block--right180,
    .btn-command-block--right180
    {
        svg {
            path, circle {
                stroke: black;
            }
            circle, path.filled {
                fill: black;
            }                                            
        }
    }


    // Use both IDs and classnames here to overpower styles inherited from react-bootstrap's $theme-colors
    #command-block--forward1,
    .btn-command-block--forward1,
    #command-block--forward2,
    .btn-command-block--forward2,
    #command-block--forward3,
    .btn-command-block--forward3 {
        background-color: #16796D;
        border-color: #4C9990;

        &:hover, &:focus {
            background-color: #66B2A9;
        }
    }

    // Use both IDs and classnames here to overpower styles inherited from react-bootstrap's $theme-colors
    #command-block--left45,
    .btn-command-block--left45,
    #command-block--left90,
    .btn-command-block--left90,
    #command-block--left180,
    .btn-command-block--left180 {
        background-color: #D37D12;
        border-color: #D37D12;

        &:hover, &:focus {
            background-color: #AE6100;
        }
    }

    // Use both IDs and classnames here to overpower styles inherited from react-bootstrap's $theme-colors
    #command-block--right45,
    .btn-command-block--right45,
    #command-block--right90,
    .btn-command-block--right90,
    #command-block--right180,
    .btn-command-block--right180 {
        background-color: #C13925;
        border-color: #C13925;

        &:hover, &:focus {
            background-color: #952A1B;
        }
    }

    .Scene {
        background-color: white;
    }

    .Character__icon-background {
        fill: $c2lc-dark-green-color;
    }

    .ProgramBlockEditor__container {
        border: 2px solid $c2lc-medium-green-color;
        background-color: $c2lc-medium-green-color;
    }

    .ProgramBlockEditor__header {
        background-color: $c2lc-medium-green-color;
    }

    .ProgramBlockEditor__character-column {
        background-color: $c2lc-light-green-color;
    }

    .ProgramBlockEditor__start-indicator {
        color: white;
        background-color: black;
    }

    .ActionPanel__background {
        svg {
            path {
                fill: #F1F2F4;
                stroke: #D5D8DD;
            }
        }
    }
       
    button.btn.ActionPanel__action-buttons {
        background-color: #D5D8DD;
        svg {
            path.stroked {
                stroke: #505862;
            }
            path.filled {
                fill: #505862;
            }
        }
    
        &:hover, &:focus:not(:disabled) {
            background-color: #505862;
            svg {
                path.stroked {
                    stroke: #F1F2F4;
                }
                path.filled {
                    fill: #F1F2F4;
                }
            }
        }
    
        &:focus {
            box-shadow:
                0 0 0 0.1rem #F1F2F4,
                0 0 0 $c2lc-focus-indicator-width black;
        }
    }
    
    button.btn.ActionPanel__action-buttons--disabled {
        background-color: #D5D8DD;
        svg {
            path.stroked {
                stroke: #F1F2F4;
            }
            path.filled {
                fill: #F1F2F4;
            }
        }
    }

    .AddNode__collapsed-icon {
        background-color: #505862;
        svg path {
            stroke: white;
            stroke-width: 6px;
        }
    }

    button.btn.AddNode__expanded-button {
        background-color: white;
        border: 3px solid $c2lc-very-very-dark-gray-color;

        &:not(.AddNode__expanded-button--isDragTarget) {
            box-shadow: none;
        }

        svg {
            path {
                stroke: black;
            }
        }
    
        &:hover {
            background-color: #e5e5e5;
        }
    }

    .App__playAndShare-background {
        background-color: $c2lc-medium-grey-color;
    }
}


/* Dark Theme */
body.dark-theme {
    background-color: $c2lc-very-very-very-dark-green-color;

    .AudioFeedbackToggleSwitch {
        background-color: #B9BEC6;
    
        &:focus {
            box-shadow: 0 0 0 $c2lc-focus-indicator-width white;
        }
    }

    .App__app-heading {
        color: white;
    }

    .App__command-palette {
        background-color: $c2lc-very-dark-green-color;
    }

    .App__command-palette-command-container {
        &::-webkit-scrollbar {
            background-color: $c2lc-very-dark-green-color;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $c2lc-dark-green-color;
        }
    }

    .App__command-palette-heading {
        color: #F1AE5B;
    }

    button.btn.command-block:focus {
        box-shadow: 0 0 0 $c2lc-focus-indicator-width white;
        border: 2px solid $c2lc-very-dark-green-color;
    }

    .Scene {
        background-color: $c2lc-very-very-dark-green-color;
    }

    .Scene__grid-line {
        stroke: $c2lc-very-dark-green-color;
    }

    .Scene__path-line {
        stroke: white;
    }

    .Character__icon-background {
        fill: $c2lc-dark-green-color;
    }

    .ProgramBlockEditor__container {
        background-color: $c2lc-very-very-very-dark-blue-color;
        border: 2px solid $c2lc-very-very-very-dark-blue-color;
    }

    .ProgramBlockEditor__character-column {
        background-color: $c2lc-very-dark-green-color;
    }

    .ProgramBlockEditor__header {        
        background-color: $c2lc-very-very-very-dark-blue-color;
        color: #EBFAF8;
    }

    .ProgramBlockEditor__program-sequence-scroll-container {
        background-color: $c2lc-very-very-dark-green-color;
    }

    .AddNode__collapsed-icon {
        background-color: white;
        svg {
            stroke: black;
            fill: black;
        }
    }

    .AddNode__expanded-button {
        border: 2px solid $c2lc-medium-grey-color;
        background-color: $c2lc-very-very-dark-green-color;
        box-shadow: none;
        svg path {
            stroke: $c2lc-medium-grey-color;
        }
        &:hover {
            svg path {
                stroke: black;
            }
        }
    }

    .App__playAndShare-background {
        background-color: #30444e;
    }

    .App__shareButton-container button {
        background-color: $c2lc-dark-green-color;
        color: $c2lc-light-green-color;
    }

    button.btn.PlayButton:focus, button.btn.StopButton:focus {
        border-color: white;
    }

    .ProgramSpeedController__slider {
        &:focus {
            outline-color: white;
        }
    }

    button.btn.ShareButton {
        &:focus {
            box-shadow: 0 0 0 $c2lc-focus-indicator-width white;
            border-color: black;
        }

        &:hover {
            background-color: #F5C58A;
            color: black;
        }          
    }
}


/* Grayscale Theme */
body.gray-theme {
    background-color: #FFF;

    .App__container {
        background-color: #FFF;
    }
    
    .App__header {
        background-color: #FFF;
        color: #000;
    }
    
    .ThemeSelector {
        button.btn {
            background-color: #F1F2F4;
            color: black;
    
            &:hover:not(:active) {
                background-color: #D5D8DD;
            }
    
            &:focus {
                border: 2px solid white;
                box-shadow: 0 0 0 $c2lc-focus-indicator-width #505862
            }
        }
    
        button.btn-primary {
            &:not(:disabled):not(.disabled):active {
                background-color: #B9BEC6;
            }
        }
    }

    .App__command-palette {
        background-color: $c2lc-light-grey-color;
    }
    
    .App__command-palette-command-container {
        &::-webkit-scrollbar {
            background-color: $c2lc-light-grey-color;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $c2lc-medium-grey-color;
        }
    }

    .App__command-palette-heading {
        color: $c2lc-dark-grey-color;
    }

    .AudioFeedbackToggleSwitch {
        background-color: #B9BEC6;

        &:focus {
            box-shadow: 0 0 0 $c2lc-focus-indicator-width #505862;
        }

        &.ToggleSwitch--checked{
            background-color: $c2lc-dark-grey-color;
        }

        &:hover {
            background-color: #505862;
            .ToggleSwitch__switch-inner-circle {
                background-color: #B9BEC6;
            }
        }
    }

    // Use both IDs and classnames here to overpower styles inherited from react-bootstrap's $theme-colors
    #command-block--forward1,
    .btn-command-block--forward1,
    #command-block--forward2,
    .btn-command-block--forward2,
    #command-block--forward3,
    .btn-command-block--forward3,
    #command-block--left45,
    .btn-command-block--left45,
    #command-block--left90,
    .btn-command-block--left90,
    #command-block--left180,
    .btn-command-block--left180,
    #command-block--right45,
    .btn-command-block--right45,
    #command-block--right90,
    .btn-command-block--right90,
    #command-block--right180,
    .btn-command-block--right180,
    // TODO: Add backward commands to the above.
    .command-block {
        border-color: $c2lc-dark-grey-color;
        background-color: $c2lc-dark-grey-color;

        svg {
            path, circle, rect {
                stroke: white;
            }
            circle, path.filled {
                fill: white;
            }
        }

        &:focus {
            box-shadow:
                0 0 0 0.1rem white,
                0 0 0 $c2lc-focus-indicator-width #505862;
        }

        &:hover {
            background-color: #505862;
        }
    }

    .Character__icon-background {
        fill: $c2lc-dark-grey-color;
    }

    .Scene__path-line {
        stroke: #505862;
    }

    .PenDownToggleSwitch.ToggleSwitch {
        background-color: #B9BEC6;

        .ToggleSwitch__switch-inner-circle {
            background-color: white;
            svg {
                path {
                    stroke: $c2lc-dark-grey-color;
                }
            }
        }        


        &:focus {
            box-shadow: 0 0 0 $c2lc-focus-indicator-width #505862;
        }
        
        &:hover {
            box-shadow: 0 0 0 $c2lc-focus-indicator-width #505862;
            background-color: #505862;
            .ToggleSwitch__switch-inner-circle {
                background-color: #B9BEC6;
            }
        }
    }

    .PenDownToggleSwitch.ToggleSwitch--checked {
        background-color: $c2lc-dark-grey-color;
    }

    .RefreshButton {
        background-color: $c2lc-dark-grey-color;
        svg path {
            fill: white;
        }
        &:hover {
            svg path {
                fill: black;
            }
        }
        &:focus {
            box-shadow: 0 0 0 $c2lc-focus-indicator-width #505862;
        }
    }

    .AddNode__collapsed-icon {
        background-color: #505862;
        svg path {
            stroke: white;
            stroke-width: 6px;
        }
    }

    .AddNode__expanded-button {
        border: 2px solid #505862;
        background-color: inherit;
        box-shadow: none;
        svg path {
            stroke: #505862;
        }
    }

    .ProgramBlockEditor__container {
        background-color: #D5D8DD;
        border: 2px solid #D5D8DD;
    }

    .ProgramBlockEditor__add-node-toggle-switch.ToggleSwitch svg path {
        stroke: #818A98
    }

    
    .ProgramBlockEditor__add-node-toggle-switch.ToggleSwitch {
        &:focus {
            box-shadow: 0 0 0 $c2lc-focus-indicator-width #505862;
        }
        &:hover {
            background-color: #505862;
            .ToggleSwitch__switch-inner-circle {
                background-color: #B9BEC6;
            }  
    
        }
    }

    .ProgramBlockEditor__add-node-toggle-switch.ToggleSwitch--checked {
        background-color: #818A98;
    }

    button.btn.ProgramBlockEditor__program-deleteAll-button {
        background-color: #818A98;
        svg path {
            stroke: white;
        }
        &:hover {
            background-color: #505862;
        }
        &:focus {
            box-shadow: 0 0 0 $c2lc-focus-indicator-width #505862;
        }
    }

    .ProgramBlockEditor__header {
        background-color: #D5D8DD;
    }

    .ProgramBlockEditor__character-column {
        background-color: $c2lc-light-grey-color;
    }
    
    .ProgramBlockEditor__character-column-character-container {
        background-color: inherit;
        box-shadow: none;
    }

    .ProgramBlockEditor__program-sequence-scroll-container {
        margin-left: 0.1rem;
    }

    .ProgramBlockEditor__program-sequence-scroll-container--isDragging {
        box-shadow: 0 0 0 0.4rem #505862;
    }

    .ProgramBlockEditor__start-indicator {
        background-color: #818A98;
        color: white;
    }

    .ProgramBlockEditor__start-indicator {
        border-color: $c2lc-dark-grey-color;
        background: $c2lc-dark-grey-color;
    }

    button.ProgramBlockEditor__program-block--active {
        border: 1px solid white;
        box-shadow: 0 0 0 6px #505862;
    }

    button.btn.AddNode__expanded-button.AddNode__expanded-button--isDragTarget {
        box-shadow: 0 0 0 0.4rem #505862;
    }

    .ActionPanel__background {
        svg {
            path {
                fill: #F1F2F4;
                stroke: #D5D8DD;
            }
        }
    }
    
    button.btn.ActionPanel__action-buttons {
        background-color: #D5D8DD;
    
        svg {
            path.stroked {
                stroke: #505862;
            }
            path.filled {
                fill: #505862;
            }
        }
    
        &:hover, &:focus {
            background-color: #505862;

            svg {
                path.stroked {
                    stroke: #F1F2F4;
                }
                path.filled {
                    fill: #F1F2F4;
                }
            }
        }    
   
        &:focus {
            box-shadow:
                0 0 0 0.1rem #30444E,
                0 0 0 $c2lc-focus-indicator-width white,
                0 0 0 0.3rem #30444E;
        }
    }
    
    button.btn.ActionPanel__action-buttons--disabled {
        svg {
            path.stroked {
                stroke: #F1F2F4;
            }
            path.filled {
                fill: #F1F2F4;
            }
        }
    }

    @keyframes pausedGreyscaleAnimation {
        0% {box-shadow: 0 0 0 6px #505862;}
        50% {box-shadow: 0 0 0 4px #505862;}
        100% {box-shadow: 0 0 0 6px #505862;}
    }

    button.ProgramBlockEditor__program-block--paused {
        animation-timing-function: ease;
        animation: pausedGreyscaleAnimation 2s infinite;
        border: 1px solid white;
    }

    .App__playAndShare-background {
        background-color: $c2lc-medium-grey-color;
    }

    button.btn.PlayButton, button.btn.StopButton {
        box-shadow: none;
        
        svg {
            path.inner-circle {
                fill: white;
            }
            circle {
                fill: #67717E;
            }
            path.triangle {
                fill: #30444E;
            }
        }

        &:focus {
            box-shadow: 0 0 0 $c2lc-focus-indicator-width #505862;
            border: none;    
        }

        &:hover {
            svg {
                path.inner-circle {
                    fill: $c2lc-slightly-darker-grey-color;
                }
                circle {
                    fill: #67717E;
                }
                path.triangle {
                    fill: #30444E;
                }
            }
        }
    }

    button.btn.PlayButton--disabled, button.btn.StopButton--disabled {
        background-color: $c2lc-medium-grey-color;

        svg {
            path.inner-circle {
                fill: $c2lc-medium-grey-color;
            }
            circle, path.triangle {
                fill: $c2lc-slightly-darker-grey-color;
            }
        }
    }

    .ProgramSpeedController__container svg path {
        fill: $c2lc-very-dark-grey-color;    
    }

    .ProgramSpeedController__slider {
        &::-webkit-slider-runnable-track {
            background-color: $c2lc-very-dark-grey-color;
            border: 2px solid $c2lc-very-dark-grey-color;
        }

        &::-webkit-slider-thumb {
            border: 2px solid $c2lc-very-dark-grey-color;
            background-color: white;
            box-shadow: -8rem 0 0 8rem white;
        }

        &::-moz-range-thumb {
            border-radius: 0;
            border: 2px solid black;
            background-color: white;
            box-shadow: -8rem 0 0 8rem white;
        }

        &::-moz-range-progress {
            background-color: white; 
        }
        &::-moz-range-track {
            background-color: $c2lc-very-dark-grey-color;
        }

        &::-ms-fill-lower {
            background-color: white; 
        }

        &::-ms-fill-upper {  
            background-color: $c2lc-very-dark-grey-color;
        }

        &:hover {
            &::-webkit-slider-thumb {
                background-color: $c2lc-slightly-darker-grey-color;
                box-shadow: -8rem 0 0 8rem $c2lc-slightly-darker-grey-color;
            }
            &::-moz-range-thumb {
                background-color: $c2lc-slightly-darker-grey-color;
                box-shadow: -8rem 0 0 8rem $c2lc-slightly-darker-grey-color;
            }
    
            &::-moz-range-progress {
                background-color: $c2lc-slightly-darker-grey-color; 
            }
    
            &::-ms-fill-lower {
                background-color: $c2lc-slightly-darker-grey-color; 
            }
        }

        &:focus {
            outline-color: #505862;
        }
    }

    button.btn.ShareButton:focus {
        box-shadow: 0 0 0 0.2rem #505862;
    }    
}

/* High Contrast "Mono" Theme */
body.contrast-theme {
    background-color: black;

    .App__container {
        background-color: black;
    }
    
    .App__header {
        background-color: black;
        color: white;
    }

    .ThemeSelector {
        button.btn {
            background-color: white;
            color: black;
    
            &:hover:not(:active) {
                background-color: black;
                border: 2px solid white;
                color: white;
            }
    
            &:focus {
                box-shadow: 0 0 0 $c2lc-focus-indicator-width white;
            }

            &:focus:not(:hover) {
                border: 2px solid black;
            }
        }
    
        button.btn-primary {
            &:not(:disabled):not(.disabled):active {
                background-color: white;
                color: black;
            }
        }
    }

    .AudioFeedbackToggleSwitch {
        background-color: black;
        border: 2px solid white;
        padding: 0.1rem;
    
        &:focus {
            box-shadow: 0 0 0 $c2lc-focus-indicator-width white;
            border: 2px solid black;
        }
    
        .ToggleSwitch__switch-inner-circle {
            background-color: white;
            svg {
                path {
                    fill: black;
                }
            }
        }

        &.ToggleSwitch--checked {
            background-color: white;
            .ToggleSwitch__switch-inner-circle {
                background-color: black;
                svg {
                    path {
                        fill: white;
                    }
                }
            }
        }
    }
    
    .App__command-palette {
        background-color: black;
        border: 1px solid white;
    }

    .App__command-palette-command-container {
        &::-webkit-scrollbar {
            background-color: black;
        }
        &::-webkit-scrollbar-thumb {
            background-color: black;
            border: 2px solid white;
        }
    }

    // Use both IDs and classnames here to overpower styles inherited from react-bootstrap's $theme-colors
    #command-block--forward1,
    .btn-command-block--forward1,
    #command-block--forward2,
    .btn-command-block--forward2,
    #command-block--forward3,
    .btn-command-block--forward3,
    #command-block--left45,
    .btn-command-block--left45,
    #command-block--left90,
    .btn-command-block--left90,
    #command-block--left180,
    .btn-command-block--left180,
    #command-block--right45,
    .btn-command-block--right45,
    #command-block--right90,
    .btn-command-block--right90,
    #command-block--right180,
    .btn-command-block--right180,
    // TODO: Add backward commands to the above.
    .command-block {
        border-color: white;
        background: white;

        svg {
            path, circle {
                stroke: black;
            }
            circle, path.filled {
                fill: black;
            }                        
        }

        &:hover {
            border: 1px solid white;
            border-radius: 0.2rem;
            background: black;

            svg {
                path, rect, circle {
                    stroke: white;
                }
                circle, path.filled {
                    fill: white;
                }                        
            }
        }

        // TODO: Review w/ Sepi
        &:focus:hover {
            box-shadow: 0 0 0 $c2lc-focus-indicator-width white;
        }

        &:focus:not(:hover) {
            box-shadow:
                0 0 0 0.1rem black,
                0 0 0 $c2lc-focus-indicator-width white;
        }

        &.command-block--pressed,
        &.command-block--pressed:hover,
        &.command-block--pressed:active {
            box-shadow: 0 0 0 $c2lc-focus-indicator-width white;
            border: 2px solid black;
        }    
    }    

    .App__command-palette-heading {
        color: white;
    }

    .Scene {
        background-color: black;
    }

    .Scene__grid-line, .Scene__path-line {
        stroke: white;
    }

    .Character__icon-background {
        fill: white;
    }

    .PenDownToggleSwitch {
        background-color: white;
        border: 1px solid black;
        .ToggleSwitch__switch-inner-circle {
            background-color: black;
            svg {
                path {
                    stroke: white;
                }
            }
        }

        &.ToggleSwitch--checked {
            background-color: black;
            border: 2px solid white;
            padding: 0.05rem;
            .ToggleSwitch__switch-inner-circle {
                background-color: white;
                svg {
                    path {
                        stroke: black;
                    }
                }
            }
        }
    }

    .RefreshButton {
        background-color: white;
        border: 0.1rem solid black;
        padding: 0.4rem;
        svg path {
            fill: black;
            stroke: none;
        }

        &:focus {
            box-shadow: 0 0 0 $c2lc-focus-indicator-width white;
            border: 2px solid black;
        }

        &:hover {
            background-color: black;
            border: 2px solid white;
            svg path {
                fill: white;
            }
        }
    }

    .ProgramBlockEditor__container {
        border: 2px solid #F1F1F1;
    }

    .ProgramBlockEditor__add-node-toggle-switch {
        background-color: black;

        .ToggleSwitch__switch-inner-circle {
            background-color: white;
            svg {
                path {
                    stroke: black;
                }
            }
        }


        &:focus {
            border: 2px solid white;
            padding: 0.05rem;
        }

        &.ToggleSwitch--checked {
            background-color: white;
            border: 2px solid black;
            padding: 0.05rem;
            .ToggleSwitch__switch-inner-circle {
                background-color: black;
                svg {
                    path {
                        stroke: white;
                    }
                }
            }

            &:focus {
                border: 2px solid black;
            }
        }
    }

    button.btn.ProgramBlockEditor__program-deleteAll-button {
        background-color: black;
        border: 2px solid white;
        svg path {
            stroke: white;
        }

        &:hover {
            background-color: white;
            border: 2px solid black;
            svg {
                stroke: black;
            }
        }

        &:focus {
            box-shadow: 0 0 0 $c2lc-focus-indicator-width black;
        }
    }

    .ProgramBlockEditor__character-column {
        background-color: black;
        border-right: 2px solid #9DA4AF;
    }

    .ProgramBlockEditor__character-column-character-container {
        background-color: white;
    }

    .ProgramBlockEditor__program-sequence-scroll-container {
        background-color: black;
    }

    .ProgramBlockEditor__program-sequence-scroll-container--isDragging {
        box-shadow: 0 0 0 0.2rem black,
        0 0 0 0.4rem white,
        0 0 0 0.6rem black;
    }

    .ProgramBlockEditor__start-indicator {
        border-color: white;
        background: white;
        color: black;
    }

    .AddNode__collapsed-icon {
        background-color: white;
        svg {
            stroke: black;
            fill: black;
        }
    }

    button.btn.AddNode__expanded-button.AddNode__expanded-button--isDragTarget {
        box-shadow: 0 0 0 0.15rem white,
        0 0 0 0.3rem black,
        0 0 0 0.45rem white;
    }

    .AddNode__expanded-button {
        border: 2px solid white;
        background-color: black;
        box-shadow: none;
        svg path {
            stroke: white;
            fill: white
        }

        &:focus {
            box-shadow: 0 0 0 $c2lc-focus-indicator-width white;
        }

        &:hover {
            svg path {
                stroke: black;
                fill: black;
            }
        }
    }

    .ActionPanel__background {
        svg {
            path {
                fill: white;
                stroke: white;
            }
        }
    }
    
    button.btn.ActionPanel__action-buttons {
        background-color: black;
    
        svg {
            path.stroked {
                stroke: white;
            }
            path.filled {
                fill: white;
            }
        }
    
        &:hover {
            border: 1px solid black;
            background-color: white;
            svg {
                path.stroked {
                    stroke: black;
                }
                path.filled {
                    fill: black;
                }
            }
        }    
   
        &:focus {
            box-shadow:
                0 0 0 0.1rem #30444E,
                0 0 0 $c2lc-focus-indicator-width white,
                0 0 0 0.3rem #30444E;
        }
    }
    
    button.btn.ActionPanel__action-buttons--disabled {
        svg {
            path.stroked {
                stroke: #505862;
            }
            path.filled {
                fill: #505862;
            }
        }
    }

    @keyframes pausedContrastAnimation {
        0% {box-shadow: 0 0 0 6px white;}
        50% {box-shadow: 0 0 0 4px white;}
        100% {box-shadow: 0 0 0 6px white;}
    }

    button.ProgramBlockEditor__program-block--paused {
        border: 1px solid black;
        animation-timing-function: ease;
        animation: pausedContrastAnimation 2s infinite;
    }

    .App__playAndShare-background {
        background-color: white;
    }

    .App__shareButton-container button {
        background-color: black;
        color: white;
    }

    button.btn.PlayButton, button.btn.StopButton {
        svg {
            path.inner-circle {
                fill: white;
            }
            circle, path.triangle {
                fill: black;
            }
        }
    }

    button.btn.PlayButton:hover {
        background-color: white;
        svg {
            path.inner-circle {
                fill: $c2lc-slightly-darker-grey-color;
            }
        }
    }

    button.btn.PlayButton--disabled, button.btn.StopButton--disabled {
        svg {
            path {
                fill: white;
            }
            circle, path.triangle, rect {
                fill: $c2lc-slightly-dark-grey-color;
            }
        }
    }

    .ProgramSpeedController__slider {
        &::-webkit-slider-runnable-track {
            background-color: black;
            border: 2px solid black;
        }

        &::-webkit-slider-thumb {
            border: 2px solid black;
            background-color: white;
            box-shadow: -8rem 0 0 8rem white;
        }

        &::-moz-range-thumb {
            border-radius: 0;
            border: 2px solid black;
            background-color: white;
            box-shadow: -8rem 0 0 8rem white;
        }

        &::-moz-range-progress {
            background-color: white; 
        }

        &::-moz-range-track {
            background-color: black;
        }

        &::-ms-fill-lower {
            background-color: white; 
        }

        &::-ms-fill-upper {  
            background-color: black;
        }

        &:hover {
            &::-webkit-slider-thumb {
                background-color: $c2lc-slightly-darker-grey-color;
                box-shadow: -8rem 0 0 8rem $c2lc-slightly-darker-grey-color;
            }
            &::-moz-range-thumb {
                background-color: $c2lc-slightly-darker-grey-color;
                box-shadow: -8rem 0 0 8rem $c2lc-slightly-darker-grey-color;
            }
    
            &::-moz-range-progress {
                background-color: $c2lc-slightly-darker-grey-color; 
            }
    
            &::-ms-fill-lower {
                background-color: $c2lc-slightly-darker-grey-color; 
            }
        }
    }

    button.btn.ShareButton {
        &:focus {
            box-shadow:
                0 0 0 0.1rem white,
                0 0 0 0.2rem black;
        }
    
        &:hover {
            background-color: white;
            color: black;
            box-shadow: 0 0 0 0.1rem black;
        }

        &:hover:focus {
            box-shadow: 0 0 0 0.2rem black;            
        }
    }
}
