/* Forest Theme */

body.forest-theme {
    background-color: #49827A;
    background-image: url('./svg/ForestBackground.svg');
    background-size: 13%;
}

.forest-theme .App__container {
    background-color: #496D69;
}

.forest-theme .App__scene-controls {
    background-color: #CCE6E2;
}

.forest-theme .Scene__grid-label {
    fill: #F1F2F4;
}

.forest-theme .ProgramBlockEditor__container {
    background-color: #CCE6E2;
}

.forest-theme .App__command-palette {
    background-color: #CCE6E2;
}

.forest-theme .App__playAndShare-container {
    background-color: #CCE6E2;
}

/* Space Theme */

body.space-theme {
    background-color: #171C1C;
    background-image: url('./svg/SpaceBackground.svg');
}

.space-theme .App__container {
    background-color: #171C1C;
}

.space-theme .App__scene-controls {
    background-color: #AAD5CF;
}

.space-theme .Scene__grid-label {
    fill: #FFF;
}

.space-theme .ProgramBlockEditor__container {
    background-color: #AAD5CF;
}

.space-theme .App__command-palette {
    background-color: #AAD5CF;
}

.space-theme .App__playAndShare-container {
    background-color: #AAD5CF;
}
