@import 'variables';

.WorldSelector {
    margin-left: 2rem;
}

.WorldSelector button {
    padding-top: 0.25rem;
    max-height: 2.4rem;
}

.WorldSelector button:focus {
    box-shadow: 0 0 0 $c2lc-focus-indicator-width #299DCE;
}

.WorldSelector button.btn:hover {
    padding-top: 0.25rem;
}