name: CI

on: [push, pull_request]

jobs:
  build:
    name: Build

    runs-on: ubuntu-18.04

    strategy:
      matrix:
        node-version: [10.x, 12.x]

    env:
      CI: true

    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Versions
        run: |
          echo Node:
          node --version
          echo NPM:
          npm --version
      - name: NPM audit
        run: npm audit
      - name: NPM install (ci)
        run: npm ci
      - name: Build
        run: npm run build
      - name: Archive artifact
        uses: actions/upload-artifact@v1
        with:
          name: build
          path: build
      - name: Flow
        run: npx flow
      - name: Test
        run: npm test
  deploy:
    name: Deploy
    needs: build
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - uses: actions/download-artifact@v1
        with:
          name: build
      - uses: w9jds/firebase-action@v1.1.0
        with:
          args: deploy
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
